body {
    /* Location of the image */
    background-image: url("../images/warlords_of_draenor_wallpaper_by_chrom25-d8cehh5.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.wrapper {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1a0f08;
    min-width:335px;
    width: 40%;
}

nav {
    background-image: url("http://static.iclanwebsites.com/themes/theme_141/ub3q_topmenu.png");
    height: 70px;
    margin-top: -73px;
    font-size:11px;
}

nav li {
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}

.navbar {
    width: 320px !important;
    border-style: none;
    height: 40px;
}

.navbar-brand {
    background-image: url("http://eu.battle.net/wow/static/images/layout/cards-mop/charcard-horde.jpg") !important;
    width: 335px !important;
    height: 50px !important;
    float: right;
}

.navbar-brand img {
    margin-top: -5px;
}

li {
    color: white;
    list-style-type: none;
}

footer {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none !important;
    color: white !important;
}
#backgroundchar{float:left;margin-top:10px;}
#stats{width:30%;float:right;background-color:#1a0f08; color:white; text-align:center;}
#stats p{margin-left:20px;}